img{
     border:3px solid black;
     flex-direction:column;
     margin-left:5px;
     margin-right:5px;
     margin-top:5px;
     margin-bottom:5px;
     display:block;
    
}
    img:hover {
        transform: scale(1.1);
    }
body
{
    background-color:darkgrey;
    
}